body {
	 background: darkorange;
	font-family: 'Open Sans Condensed', sans-serif;
 } 

h1 {
	color: blue;
}

img {
	display: block;
	width: 500px;
	height: auto;
}


 h2 {
  color: green;
 } 

  #title {
      background: yellow;
 		width: 675px;
 }

#main {
	background: pink;
		width: 700px;
}

#main p {
	color: yellow;
}