body {
	 background: darkorange;
	font-family: 'Open Sans Condensed', sans-serif;
 } 

h1 {
	color: blue;
}

img {
	display: block;
	width: 500px;
	height: auto;
}


 h2 {
  color: green;
 } 

  #title {
      background: yellow;
 		width: 675px; 
 		padding-left: 10px;
 		padding-bottom: 15px;
 		border-radius: 10px;
 }

#main {
	background: pink;
		width: 700px;
		padding: 15px;
		margin-top: 15px;
		margin-left: 5px;
		border-radius: 10px;
}

#main p {
	color: yellow;
}
